<div class="chat-item">
  <div class="chat-item__line"></div>
  <div class="chat-item__block{{#if current}} chat-item__block--current{{/if}}">
    <div class="chat-item__avatar">{{ avatar }}</div>
    <div class="chat-item__name">{{ name }}
      <time class="chat-item__date" datetime="{{ time }}">{{ localDate time }}</time>
    </div>
    <div class="chat-item__message"><span class="chat-item__message-text">{{ message }}</span></div>
    {{#if unread}}<div class="chat-item__unread">{{ unread }}</div>{{/if}}
  </div>
</div>
