<div class="chat-item">
  <div class="chat-item__line"></div>
  <div class="chat-item__block{{#if current}} chat-item__block--current{{/if}}">
    <div class="chat-item__avatar">{{ avatar }}</div>
    <div class="chat-item__name">{{ name }}
      <div class="chat-item__date">{{ date }}</div>
    </div>
    <div class="chat-item__message">{{ message }}</div>
    {{#if unread}}<div class="chat-item__unread">{{ unread }}</div>{{/if}}
  </div>
</div>
