<div class="profile-field{{#if className}} {{className}}{{/if}}">
  <div class="profile-field__name">{{title}}</div>
  {{#if edit}}
    {{{ Input value=value name=name type=type title=title className='profile-field__input' alignRight=alignRight }}}
  {{else}}
    <div class="profile-field__value">{{value}}</div>
  {{/if}}
</div>
