<div class="chat-content{{#if className}} {{ className }}{{/if}}" ref="page">
  {{#each store.messages }}
    {{{ ChatDay date=date }}}
    {{#if (equals userId ../store.userId) }}
      {{{ ChatMessageMy className="chat-content__message" message=message time=time textTime=textTime }}}
    {{else}}
      {{{ ChatMessage className="chat-content__message" message=message time=time textTime=textTime }}}
    {{/if}}
  {{/each}}
  <!--
  { { { ChatMessageImage className="chat-content__message" message=imageMessage }}}
  { { { ChatMessage className="chat-content__message" message=errorMessage }}}
  -->
</div>
