<div class="chat-content{{#if className}} {{ className }}{{/if}}">
  {{{ ChatDay date=date }}}
  {{{ ChatMessage className="chat-content__message" message=message }}}
  {{{ ChatMessageImage className="chat-content__message" message=imageMessage }}}
  {{{ ChatMessageMy className="chat-content__message" message=myMessage }}}
  {{{ ChatMessage className="chat-content__message" message=errorMessage }}}
</div>
